@charset 'utf-8';

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
@import 'settings';
@import 'foundation';
@import 'motion-ui';


@mixin placeholder($color, $size:"") {
  &::-webkit-input-placeholder {
    color: $color;
    @if $size != "" {
      font-size: $size;
    }
  }
  &:-moz-placeholder {
    color: $color;
    @if $size != "" {
      font-size: $size;
    }
  }
  &::-moz-placeholder {
    color: $color;
    @if $size != "" {
      font-size: $size;
    }
  }
  &:-ms-input-placeholder {
    color: $color;
    @if $size != "" {
      font-size: $size;
    }
  }
}

.logo {

  max-width: 20.0rem;

  margin-left: 5px; }



.top-bar li {
    a {
        &:hover {
            background-color: $topbar-link-hover-color;
        }
    }
}


@media screen and (min-width: 40em) {
  $topbar-padding-large: .5rem;
  .top-bar .menu {
      // height: $topbar-height;
      // line-height: $topbar-height;3
      padding: $topbar-padding-large;
  }
  .top-bar .top-bar-title img{
    padding: $topbar-padding-large;
  }
  .top-bar .top-bar-title {

    font-size: 30px;
    padding: $topbar-padding-large;
  }

}
  // .top-bar .menu > li:not(.menu-text) > a {
  //     padding: 0 1rem;
  // }


.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}



ul.orbit-container {
    height: auto !important;
}
li.orbit-slide {
    max-height: none !important;
}

.flickr-wrapper {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;

  iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;}
}

.top-bar li{
  a{
    color:$primary-color;
  }
}


.primaryC {
  color:map-get($foundation-palette, primary);
}
.primarybg{
  background-color: darken(map-get($foundation-palette, primary), 20%);
}

ul.tabs {
    text-align: center;
    li {
        float: none !important;
        display: inline-block;
    }
}

.is-invalid-input:not(:focus) {
  @include placeholder(#ffffff);
}

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;
